@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
}

:root {
    --primary-color: #03071E;
    --about-section-bg:#242323;
    --button-color: #45893a;
    --text-color: #f6f4f4;
    --portolio-color:#362d2d;
    --portfolio-section-bg: #d9d9d9;
    --input-bg:#312d2d;
    --footer-bg:#171515;
    --logo-color:#0BFD0B;
    --contact-section-bg: #3e3c3c;

    --h1-fs: 80px; /* 45px*/
    --logo-fs:40px; /* 40px*/
    --h2-fs:50px; /*34px */
    --h3-fs:40px; /* 24px*/
    --h4-fs:35px; /*20px */
    --h5-fs: 25px;
    --p-fs: 20px; /*18px*/
    --nav-links:28px; /*18px*/
    --font-family: 'Montserrat', sans-serif;
    --h1-fw:800;
    --logo-fw:700;
    --h2-fw:600;
    --h3-fw:400;
    --h4-fw:300;
    --p-fw:200;
}

/* Header Section Start */
header {
    z-index:1000
}

div .logo-whole {
    font-size:var(--logo-fs);
    font-weight:var(--logo-fw)
}

.logo-2 {
    color:var(--logo-color)
}

/* Header Section End */

/* Home Section Start */
.home {
    background-image: url('./bg-1.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.home h1 {
    font-size:var(--h1-fs);
    font-weight: var(--h1-fw);
}

.home h2 {
    font-size:var(--h2-fs);
    font-weight:var(--h2-fw);
}
/* Home Section End */

/* About Section Start */
header.sticky {
    /* padding: 15px 11%; */
    background:#000;
    border-bottom: 1px solid #4e5055;
    opacity:1
}

.about {
    background: var(--about-section-bg)
}

.about-elements h2 {
    font-size:var(--h2-fs);
    font-weight:var(--h2-fw);
}

.about-img img {
    width:200px;
    height:250px;
    border-radius:50%;
    border:2px solid var(--logo-color);
}

h5 span.text-emphasize {
    color:var(--logo-color)
}

.about-text h4 {
    font-size:var(--h4-fs);
    font-weight:var(--h3-fw);
}

.about-text p {
    font-size:var(--p-fs);
    font-weight:var(--p-fw)
}
/* About Section End */

/* Portfolio Section Start */
section.portfolio {
    background:var(--portfolio-section-bg)
}

section.portfolio h2 {
    font-size:var(--h2-fs);
    font-weight:var(--h2-fw)
}

.carousel-item img {
    border:2px solid var(--logo-color);
    border-radius:10px;
}

button.see-more-btn {
    background:var(--button-color);
    border-radius:10px
}

button.see-more-btn:hover {
    background:transparent;
    border:2px solid var(--button-color);
    color:var(--primary-color)
}
/* Portfolio Section End */

/* Contact Section Start */
section.contact {
    background:var(--contact-section-bg)
}

.contact h2 {
    font-size:var(--h2-fs);
    font-weight: var(--h2-fw);
}

.left-contact h5 {
    font-size:var(--h5-fs);
    font-weight:var(--h4-fw)
}

button.download-cv-btn {
    background:var(--button-color);
    border-radius:10px
}

button.download-cv-btn:hover {
    background:transparent;
    border:1px solid var(--button-color);
}

input[type=text], input[type=email], .text-area {
    border-radius:0;
    border:1px solid black;
    font-size:var(--p-fs)
}

button[type=submit] {
    background:var(--button-color)
}

button[type=submit]:hover {
    background:transparent;
    border:2px solid var(--button-color)
}
/* Contact Section End */

/* Footer Section Start */
footer {
    background:var(--footer-bg)
}
/* Footer Section End */


/* Media Queries Starting */
@media only screen and (max-width:992px) {
    div.form-container {
        width:auto
    }
}


@media only screen and (max-width:1100px) {
    .home {
        background-image:url('./bg-2v3.jpg')
    }
}


@media only screen and (max-width:772px) {
    :root {
    --h1-fs: 50px; /* 45px*/
    --logo-fs:35px; /* 40px*/
    --h2-fs:34px; /*34px */
    --h3-fs:24px; /* 24px*/
    --h4-fs:22px; /*20px */
    --h5-fs: 20px;
    --p-fs: 18px; /*18px*/
    }

    body {
        word-wrap:break-word;
    }

    div.carousel-item {
        padding:5px !important;
        margin:auto !important
    }

    div.left-contact-contents {
        padding:10px 20px 10px 20px !important;
    }
}

@media only screen and (max-width:750px) {
    .home {
        background-image:url('./bg-2v2.jpg')
    }
}

@media only screen and (max-width:600px) {
    .home {
        background-image:url('./bg-2v1.jpg')
    }
}

@media only screen and (max-width:316px) {
    :root {
        --logo-fs:28px
    }

    div.text-left {
        padding:5px 10px 5px 10px !important;
    }

    div.left-contact-contents {
        padding:10px !important;
    }
}
/* Media Queries Ending */
